body {
    background-color: black;
}
.container {
    width: 95%;
    background-color: rgb(122, 195, 236);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    margin-top: 50px;
}
.column{
    width: 30%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.column_title {
    font-size: 30px;
    width: 100%;
    font-weight: bold;
    color: navy;
    text-align: center;
    text-transform: uppercase;

}
.column_T {
    background-color: rgb(247, 103, 115);
}
.column_P {
    background-color: rgb(241, 243, 125);
}
.column_D {
    background-color: rgb(141, 233, 141);
}
.add {
    width: 90%;
    height: 30px;
    background-color:  rgb(231, 216, 216);
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 20px; 
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 5%;
    margin-right: 5%;
    

}
.add_up {
    background-color: green;
    color: white;
}
.input {
    width: 90%;
    height: 30px;
    border-radius: 10px;
   margin-left: auto;
   margin-right: auto;
    padding: 0;
    margin-bottom: 20px;
    
    font-size: 15px;
    
}
.note {
    background-color:  rgb(165, 219, 233);
    width: 90%;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.res {
    color: red;
    background-color: rgb(165, 219, 233);
    border: 0;
    margin-right: 10px;
    
}
.res::after {
    content: '\2718';
}
.drag {
    position: absolute;
    z-index: 100;
    cursor: grabbing;
    background-color: rgb(74, 138, 74);
    pointer-events: none;
    width: 25%;

}